
<% # This is view is defunct. Look in sessions/new %>


<div  id="strip_28552" >
<div class="frame"><div class="fade_in" id="el_28552_0" >
</div><div class="fade_in" id="el_28552_1" >
New User!</div>

<div class="fade_in" id="el_28552_2" >

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <p><%= f.label :email %><br />
  <%= f.text_field :email, type: :email %></p>

  <p><%= f.label :password %><br />
  <%= f.password_field :password %></p>

  <p><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></p>

  <p><%= f.submit "Sign up" %></p>
<% end %>


<div>

<br></div><div>pass</div><div><br></div><div>pass2</div><div><br></div><div>[click it]</div></div><div class="fade_in" id="el_28552_3" >
You're Back!</div><div class="fade_in" id="el_28552_4" >
login <div><br></div><div>pass</div><div><br></div><div><br></div><div>[frickn ay]</div></div></div></div>
<script src="https://scrollassets.s3.amazonaws.com/assets/embedded_initializer-cb95c9bc46753cb02c9c8d472216c399.js" type="text/javascript"></script>
