<meta charset="utf-8">

<div id="library">
  <h3>library</h3>
  <ul id="library">
    <% current_musician.library.samples.each{|s| %>
    <li sampleId="<%= s.id %>">
      <span class="name"><%= s.name %></span>
      <audio src="<%= s.audio.url %>" controls></audio>
      <%= link_to '(add)', '#', :return => 'false', :onclick => "addSample(#{s.id});"%>
    </li>
    <% } %>
  </ul>
</div>

<div id="editor">

  <div>
    <%= link_to 'play>', '#', :return => 'false', :onclick => 'tPlay();' %>
  </div

  <div id="tracks">

    <% @tracks.each{|track| %>
      <div class="track" sampleId="<%= track.id %>">

        <% Importage.find(:all, :conditions => {:sample_id => track.id, :mix_id => @mix.id}).each {|importage| %>
          <div class="sample ui-widget-content" 
               sampleId="<%= track.id %>" 
               importageId="<%=importage.id%>"
               style="left: <%=importage.start_time / @xToTimeConst%>px"> 
            <p><%= track.name %>
            <audio src="<%= importage.sample.audio.url %>"></audio></p>
          </div>
        <% } %>

      </div>
    <% } %>
  </div>
</div>

<script type="text/javascript">
  var mixId = <%= @mix.id %>;
</script>
