
<h1><%= @musician.email %></h1>

<h3>Tracks</h3>

<%= form_for(@mix) do |f| %>
  <% if @mix.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mix.errors.count, "error") %>
          prohibited this mix from being saved:</h2>
      <ul>
      <% @mix.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.text_field :name, value: @mix.name %>
  <%= f.submit :value => 'new' %>

<% end %>

<table>

<% @musician.mixes.each do |mix| %>
  <tr>
    <td><%= mix.name %></td>
    <td><%= link_to 'Play - Edit', "/mixes/#{mix.id}/tracker" %></td>
    <td><%= link_to 'Delete',
                    mix,
                    data: {:confirm => 'Delete track "' + mix.name +
                    '"?'},
                    :method => :delete %></td>
  </tr>
<% end %>
</table>

<h3>Samples Library</h3>

<p><%= link_to 'find samples', samples_url %> |
   <%= link_to 'upload new', new_sample_url %></p>

<table>
  <% @musician.library.importages.each do |importage| %>
    <% sample = importage.sample %>
    <tr id="<%= "importage-#{importage.id}" %>">
      <td> <%= sample.name %> </td>
      <td><audio src="<%= sample.audio.url %>" controls></audio></td>
      <td> <%= link_to 'remove from library',
                       importage_path(importage, :format => :json),
                       method: :delete,
                       remote: true,
                       "remove-sample" => true %> </td>

    </tr>
  <% end %>
</ul>
