<!DOCTYPE html>
<html>
<head>
  <title>Awesome</title>

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => false %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => false %>

  <%= csrf_meta_tags %>
</head>
<body>
<p>
<%  if Rails.env.development? %>
<%    %w(/samples /mixes /importages /musicians/edit /musicians ).each do |l| %>
<%=   link_to l, l %>
<%    end          %>
<%  end            %>
</p>

<p>
<%   if musician_signed_in?                       %>
<%=    link_to current_musician.name + ' samples tracks', home_m_url  %>
<%   else                                         %>
<%=    link_to 'sign in', new_musician_session_url    %> 
<%   end                                         %>
| <%= link_to 'all tracks', mixes_path %>
| <%= link_to(:logout, destroy_musician_session_url, method: :delete) if musician_signed_in? %>
</p>


<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>
