<!DOCTYPE html>
<html>
<head>
  <title>Awesome</title>
  <%= stylesheet_link_tag :application %>
  <%= javascript_include_tag :application %>
  <%= csrf_meta_tags %>
</head>
<body>
<p><%= musician_signed_in? ? "logged in as #{current_musician.email}" : 'not logged in' %> </p>


<% %w(/musicians/sign_in /samples /mixes /importages /musicians/edit /musicians).each do |l| %>
<%= link_to l, l %>
<% end %>
<%= link_to :logout, destroy_musician_session_url, method: :delete %>

       <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>
