<!DOCTYPE html>
<html>
<head>
  <title>Awesome</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= stylesheet_link_tag 'ui-lightness/jquery-ui-1.8.5.custom.css' %>
  <%= csrf_meta_tag %>

<%= javascript_include_tag 'tracker.js' %>
</head>
<body>
<p><%= musician_signed_in? ? "logged in as #{current_musician.email}" : 'not logged in' %> </p>


<% %w(/musicians/sign_in /samples /mixes /importages /musicians/sign_out /musicians/edit /musicians).each do |l| %>
<%= link_to l, l %>
<% end %>

       <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>
